.garage-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-item {
  margin-top: 10px;
  min-width: 700px;
  width: 80%;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #FAFAFA;
  box-shadow: 2.5px 2.5px 4px 1px #888888;
}
.item {
  /* margin-bottom: 10px; */
  padding: 0 10px;
  display: flex;
}

.item:hover {
  background-color: #E0E0E0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.garage {
  width: 100%;
  white-space: pre-line;
  margin: 10px 0;
}

a {
  text-decoration: none !important;
  color: black;
}

/* MODAL */

.modal {
    /* display: none; */
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* MODAL - END */

/* FORM */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-top: 10px;
}

.input input {
  margin-bottom: 20px;
}

input {
  outline: none;
  height: 20px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding-left: 10px;
}

.button-insert {
  color: white;
  border-color: none;
  border-radius: 5px;
  padding: 5px 0;
  text-align: center;
  background-color: #1E88E5;
  cursor: pointer;
}

.button-insert:hover {
  background-color: #1565C0;
}

.content-opsi {
  /* width: 100; */
  display: flex;
  justify-content: space-around;
  border-top: 1px solid lightgrey;
  /* padding: 10px 0; */
}

.opsi {
  /* margin: 10px 0; */
  width: 50%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hapus:hover {
  cursor: pointer;
  background-color: #E57373;
  border-bottom-right-radius: 5px
}
.edit:hover {
  cursor: pointer;
  background-color: #64B5F6;
  border-bottom-left-radius: 5px
}

.container-insert {
  margin: 10px;
}

#openmodal-insert {
  color: white;
  width: 1000px;
  background-color: #26A69A;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

#openmodal-insert:hover {
  cursor: pointer;
  background-color: #4DB6AC;
}
